.social-banner.banner.left
  .social-twitter
    span.icon-twitter
      svg(width="40px" height="32px" viewBox="0 0 100 80" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
        title
          | Twitter
        g(id="icons-social-twitter" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
          path(d="M31.3376561,80 C68.9412491,80 89.5088281,49.2192107 89.5088281,22.5262489 C89.5088281,21.6519737 89.5088281,20.7816366 89.4490386,19.9152377 C93.4502752,17.0557704 96.9042099,13.5152256 99.6491228,9.45937853 C95.9177776,11.0929412 91.959516,12.1642311 87.9064702,12.6374871 C92.1744181,10.1130452 95.3686888,6.14253577 96.8948211,1.46487978 C92.8815822,3.8177644 88.4909964,5.47596011 83.9125333,6.3679098 C77.575179,-0.289994298 67.5051831,-1.91953974 59.349221,2.39302899 C51.1932588,6.70559771 46.9796786,15.8877657 49.071214,24.7907005 C32.6326791,23.9764807 17.316928,16.3052028 6.93557895,3.68601145 C1.50917702,12.9156986 4.28087802,24.7231981 13.2652912,30.6507075 C10.0117123,30.5554333 6.82907146,29.688269 3.98596491,28.122398 C3.98596491,28.2050997 3.98596491,28.2917396 3.98596491,28.3783795 C3.98862807,37.9938041 10.8488059,46.2755621 20.3882105,48.1795321 C17.3782872,48.9905604 14.220251,49.1091162 11.1567158,48.5260916 C13.8350767,56.754608 21.5105568,62.3915607 30.2574596,62.5538771 C23.0178912,68.1753564 14.0746793,71.2270329 4.86686316,71.2178659 C3.2402051,71.2147805 1.61512919,71.1174719 0,70.9264408 C9.34962259,76.8544859 20.2284268,79.9988852 31.3376561,79.9842473" id="Path" fill="#FFFFFF" fill-rule="nonzero")
    span
      | @sirM1sterTV
  .social-discord
    span.icon-discord
      svg(width="40px" height="45px" viewBox="0 0 76 87" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
          title
            | Discord
          g(id="icons-social-discord" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
              path(d="M67.097143,0 L8.90285713,0 C3.99542857,0 0,4.00199999 0,8.96099997 L0,67.7729999 C0,72.7319998 3.99542857,76.7339999 8.90285713,76.7339999 L58.150857,76.7339999 L55.849143,68.6864999 L61.408,73.8629999 L66.662857,78.7349999 L76,87 L76,8.96099997 C76,4.00199999 72.0045713,0 67.097143,0 Z M50.3337143,56.811 C50.3337143,56.811 48.7702857,54.9404999 47.4674287,53.2874999 C53.1565713,51.6780001 55.328,48.1109999 55.328,48.1109999 C53.5474287,49.2854998 51.8537143,50.112 50.3337143,50.6774999 C48.1622857,51.5909999 46.0777143,52.1999999 44.0365713,52.548 C39.8674287,53.331 36.0457143,53.1134999 32.7885713,52.5044999 C30.313143,52.0259998 28.1851429,51.33 26.4045714,50.6339998 C25.4057143,50.2424999 24.32,49.7639999 23.2342857,49.1549999 C23.104,49.068 22.9737143,49.0244999 22.8434286,48.9375001 C22.7565714,48.894 22.7131429,48.8504999 22.6697143,48.8069998 C21.888,48.3719998 21.4537143,48.0674998 21.4537143,48.0674998 C21.4537143,48.0674998 23.5382857,51.5474998 29.0537143,53.2005 C27.7508571,54.8535 26.144,56.811 26.144,56.811 C16.5462857,56.5065 12.8982857,50.1989998 12.8982857,50.1989998 C12.8982857,36.1919999 19.152,24.8385 19.152,24.8385 C25.4057143,20.1405 31.3554287,20.2706385 31.3554287,20.2706385 L31.7897143,20.793 C23.9725714,23.055 20.368,26.4915 20.368,26.4915 C20.368,26.4915 21.3234286,25.9695 22.9302857,25.23 C27.5771429,23.1855 31.2685713,22.62 32.7885713,22.4895 C33.049143,22.446 33.2662857,22.4025 33.526857,22.4025 C36.176,22.0545 39.1725713,21.9675 42.2994287,22.3155 C46.425143,22.794 50.854857,24.012 55.3714287,26.4915 C55.3714287,26.4915 51.9405713,23.229 44.5577143,20.967 L45.1657143,20.2706385 C45.1657143,20.2706385 51.1154287,20.1405 57.369143,24.8385 C57.369143,24.8385 63.622857,36.1919999 63.622857,50.1989998 C63.622857,50.1989998 59.9314287,56.5065 50.3337143,56.811 Z M30.1394287,36.4964999 C27.664,36.4964999 25.7097143,38.6714999 25.7097143,41.3250001 C25.7097143,43.9784999 27.7074286,46.1535 30.1394287,46.1535 C32.614857,46.1535 34.569143,43.9784999 34.569143,41.3250001 C34.6125713,38.6714999 32.614857,36.4964999 30.1394287,36.4964999 M45.990857,36.4964999 C43.5154287,36.4964999 41.561143,38.6714999 41.561143,41.3250001 C41.561143,43.9784999 43.558857,46.1535 45.990857,46.1535 C48.4662857,46.1535 50.4205713,43.9784999 50.4205713,41.3250001 C50.4205713,38.6714999 48.4662857,36.4964999 45.990857,36.4964999" id="Shape" fill="#FFFFFF" fill-rule="nonzero")
    span
      | sirm1ster.tv/discord