* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: $base-font-size;
  font-family: $base-font;
  height: 100vh;
  width: 100vw;
  color: #000;
}

.mock-gameplay {
  background: url('/images/botw-gameplay.jpg') no-repeat center 0 transparent;
  background-size: cover;
}