div.crew-stocks {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  div.crew {
    display: flex;
    flex-direction: column;
    min-width: 16rem;

    &:last-child {
      div.player {
        flex-direction: row-reverse;

        -webkit-filter: $drop-shadow-stack-4;
        filter: $drop-shadow-stack-4;
      }
      div.stocks {
        border-right: 2px solid #000;
        border-left: none;
      }
    }
  }

  div.player {
    font-size: 24px;
    font-weight: 900;
    display: flex;
    border: 4px solid #000;
    background-color: #fff;
    line-height: 1.8rem;

    -webkit-filter: $drop-shadow-stack-left;
    filter: $drop-shadow-stack-left;
  }

  div.name {
    display: flex;
    flex: 1;
    padding: 8px 16px;
  }

  div.stocks {
    font-weight: 700;
    padding: 8px;
    text-align: center;
    border-left: 2px solid #000;
    width: 1.6rem;
  }
}