#layout {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 120px 72vh;
}

.battle-score {
  display: flex;
  justify-content: space-between;
  font-family: $header-font;
  font-weight: 900;
  font-size: 28px;

  .logo {
    padding: 8px 16px;
  }

  .crew {
    width: 48.5%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .crew:first-child {
    justify-content: flex-end;
  }
  .crew:last-child {
    justify-content: flex-end;
    flex-direction: row-reverse;

    .name {
      text-align: left;
      box-shadow: inset -1px -1px 0 #fff;
      -webkit-filter: $drop-shadow-right-8;
      filter: $drop-shadow-right-8;
    }
    .score {
      -webkit-filter: $drop-shadow-right-8;
      filter: $drop-shadow-right-8;
    }
  }
  .name {
    z-index: 2;
    padding: 8px 24px;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    text-align: right;
    min-width: 42%;
    width: auto;
    box-shadow: inset 1px -1px 0 #fff;
    -webkit-filter: $drop-shadow-left-8;
    filter: $drop-shadow-left-8;
  }
  .score {
    font-family: $text-font;
    z-index: 1;
    font-size: 40px;
    font-weight: 700;
    padding: 16px 8px;
    width: 80px;
    text-align: center;
    background-color: #fff;
    box-shadow: inset -8px -8px 0 #000, inset 8px 8px 0 #000;
    -webkit-filter: $drop-shadow-left-8;
    filter: $drop-shadow-left-8;
  }
}
div.players-stocks {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  div.crew {
    display: flex;
    flex-direction: column;
    min-width: 320px;

    &:last-child {
      div.player {
        flex-direction: row-reverse;

        -webkit-filter: $drop-shadow-right-8;
        filter: $drop-shadow-right-8;
      }
      div.stocks {
        font-family: $text-font;
        border-right: 2px solid #000;
        border-left: none;
      }
    }
  }

  div.player {
    font-size: 24px;
    font-weight: 900;
    display: flex;
    border: 4px solid #000;
    background-color: #fff;
    line-height: 1.8rem;

    -webkit-filter: $drop-shadow-left-8;
    filter: $drop-shadow-left-8;
  }

  div.name {
    display: flex;
    flex: 1;
    padding: 8px 16px;
  }

  div.stocks {
    font-family: $text-font;
    font-weight: 700;
    padding: 8px;
    text-align: center;
    border-left: 2px solid #000;
    width: 48px;
  }
}
