extends layout

block content
  #layout.simple-overlay
    include includes/backdrop.pug
    include includes/banner-brand.pug
    .start-button
      img(src="/images/game-paused.png")
    .overlay-message
      h1
        | Be Right Back
      .border

block scripts
  script(src="/javascripts/obs-overlay.js")

