extends layout

block content
  #layout.simple-overlay
    .backdrop-frame
      .sliding-track
    include includes/banner-brand.pug
    .overlay-message
      h1
        | That's all, folks!
      .border
      h3
        | Enjoyed the stream?
        | Drop a follow!
    include includes/banner-socials.pug

block scripts
  script(src="/javascripts/obs-overlay.js")

