extends layout

block templates
  script#counter-template(type="x-handlebars-template")
    | {{.}}

block content
  #layout
    .webcam
    //- .brand-banner.banner
    //-   img(src="/images/Logo/Circle/White.png", width="88")
    .counters
      .counter#rip-counter
        .icon
          svg(width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
            g(id="icons-skull" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
              g(id="shape" fill="#FFFFFF")
                path(d="M15.5,0 L23,2 L30,9 L31,18 L27,27.5 L21.5,25.5 L22.5,32 L16,31.5 L9.5,31.5 L10,25 L5,27 L1,18 L2,9 L9,1.5 L15.5,0 Z M7.26956764,15.3912248 C5.8087559,17.4018596 5.84699021,19.9199677 7.35496636,21.0155765 C8.86294252,22.1111853 11.2696206,21.3694101 12.7304324,19.3587752 C14.1912441,17.3481404 14.1530098,14.8300323 12.6450336,13.7344235 C11.1370575,12.6388147 8.73037938,13.3805899 7.26956764,15.3912248 Z M24.7304323,15.3912248 C23.2696206,13.3805899 20.8629425,12.6388147 19.3549664,13.7344235 C17.8469902,14.8300323 17.8087559,17.3481404 19.2695676,19.3587752 C20.7303794,21.3694101 23.1370575,22.1111853 24.6450336,21.0155765 C26.1530098,19.9199677 26.1912441,17.4018596 24.7304323,15.3912248 Z")
        .count#rip-count
          | -
      .divider
      .counter#korok-counter
        .icon
          svg(width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
            g(id="icons-korok-seed" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
              g(id="shape" transform="translate(0.000000, 2.000000)" fill="#FFFFFF")
                path(d="M13.261782,1.24576481e-05 C13.3492658,0.00673342641 13.4419351,0.0133843346 13.533786,0.0265620633 C14.1345728,0.11083007 14.6641215,0.464513843 14.97209,0.987200546 C14.989339,1.00975697 16.7567015,3.90626776 19.8336637,5.14687132 C20.1547611,5.2742488 20.6443683,5.42683641 21.2162401,5.60463414 C23.7465407,6.38880174 27.5691919,7.57367766 29.9641538,10.6068539 C31.541777,12.597127 32.2542947,15.2627661 31.918602,17.9045219 C31.5501774,20.6713907 30.1333251,23.1911364 27.9606122,24.9434544 C24.9194749,27.4498717 18.6779785,27.7152414 16.1370632,27.7152414 C11.2608941,27.7152414 6.9977291,26.9005563 4.74208625,25.535229 C2.3365095,24.0810027 0.713773499,21.5639707 0.183034006,18.447203 C-0.280206095,15.6104148 0.140891893,12.6997892 1.3891395,10.1106124 C2.62045513,7.60021463 6.0012657,5.03806973 9.1458972,2.8646915 C9.87547582,2.3596539 10.5652483,1.79940786 11.209147,1.18888155 L11.209147,1.18888155 L11.8831861,0.548013615 C12.2549253,0.194513135 12.7488012,-0.00180135385 13.261782,1.24576481e-05 L13.261782,1.24576481e-05 Z M11.323256,8.04205526 C10.1105162,9.05576769 8.81285816,10.2578926 8.20781514,11.1866868 C7.88937145,11.6736402 7.73811069,12.3224693 7.84160489,12.762983 C7.85972496,12.9044781 7.94258957,13.0295105 8.06584233,13.1013295 C8.95483098,13.6280884 10.3851739,13.9173426 12.0928282,13.9173426 L12.0928282,13.9173426 C13.213664,13.9177812 14.3259247,13.7967673 15.4152575,13.5564386 C15.5028295,13.5365359 15.6248996,13.5073452 15.664705,13.2061505 C15.7154819,12.6434169 15.4200484,12.1060742 14.9176892,11.8474574 C13.1489998,10.8894726 12.0291395,9.74572903 11.323256,8.04205526 Z")
        .count#korok-count
          | -
      .divider
      .counter#shrines-counter
        .icon
          svg(width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
            g(id="icons-shrine" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
              g(id="Group" transform="translate(0.022069, 0.022069)" fill="#FFFFFF" fill-rule="nonzero")
                g(id="shape")
                  path(d="M18.537931,25.44 L16.2703448,27.8068966 L13.3848276,25.44 C13.3848276,25.44 13.3572414,23.6082759 13.3572414,21.8813793 C13.3572414,20.3365517 16.0110345,19.7848276 16.0110345,19.7848276 C16.4524138,19.8675862 18.5710345,20.3365517 18.5710345,21.8813793 C18.5710345,23.6082759 18.537931,25.44 18.537931,25.44 M24.0165517,19.5641379 C23.3489655,18.5710345 21.3517241,15.7462069 19.8731034,15.3268966 C19.8731034,13.1034483 19.9668966,8.98758621 16.9213793,8.98758621 C15.817931,8.98758621 15.0565517,8.98758621 15.0565517,8.98758621 C12.0110345,8.98758621 12.1048276,13.1034483 12.1048276,15.3268966 C10.6206897,15.7406897 8.62896552,18.5655172 7.95586207,19.5641379 L4.3862069,15.9944828 L15.9889655,4.3862069 L27.5917241,15.9889655 L24.0165517,19.5641379 Z M15.9889655,31.977931 L31.977931,15.9889655 L15.9889655,-2.66453526e-14 L3.01980663e-14,15.9889655 L15.9889655,31.977931 Z")
        .count#shrines-count
          | -
      //- .divider
      //- .counter#time-clock
      //-   .time.time-local
      //-     | 4:47 PM
      //-   .time.time-command
      //-     | 10:47 AM

block scripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js")
  script(src="/javascripts/obs-overlay.js")