extends layout

block templates
  script#counter-template(type="x-handlebars-template")
    | {{.}}
  script#cheermessage-template(type="x-handlebars-template")
    .cheer-badge
      img(src="/images/icons/{{rupee}}-rupee.png", width="46")
    .cheer-message
      span.cheer-user
        | {{user}} cheered {{bits}} bits!
      span.cheer-textmessage
        | "{{{message}}}"


block content
  #layout.simple-overlay
    .text-banner.banner.right#chat-command
      span
        | !asmr
    include includes/message-cheer.pug

block scripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js")
  script(src="/javascripts/obs-overlay.js")