extends layout

block templates
  script#legobuildnr-template(type="x-handlebars-template")
    | {{.}}
  script#legobuildimage-template(type="x-handlebars-template")
    img(src="{{.}}")

block content
  #layout
    .text-banner.banner
      span#legobuildnr
        | !LEGO #75276
    .banner.image-banner#legobuildimage
      div.image-bg


block scripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js")
  script(src="/javascripts/obs-overlay.js")