extends layout

block templates
  script#legobuild-template(type="x-handlebars-template")
    | {{.}}

block content
  #layout
    .text-banner.banner.right#arenaid
      span
        | !arenaid


block scripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js")
  script(src="/javascripts/obs-overlay.js")