extends layout

block templates
  script#scoreboard-crew-template(type="x-handlebars-template")
    .name
      | {{name}}
    .score
      | {{score}}
  script#scoreboard-player-template(type="x-handlebars-template")
    .player
      .name
        | {{name}}
      .stocks
        | {{stocks}}

block content
  #layout
    .battle-score
      .crew#crew-1
        .name
          | &hellip;
        .score
          | -
      .logo
        img(src="/images/Logo/crew-battle-logo.png")
      .crew#crew-2
        .name
          | &hellip;
        .score
          | -
    .players-stocks
      .crew#crew-1-player
        .player
          .name
            | &hellip;
          .stocks
            | -
      .crew#crew-2-player
        .player
          .name
            | &hellip;
          .stocks
            | -

block scripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js")
  script(src="/javascripts/obs-overlay.js")

