extends layout

block content
  #layout.simple-overlay
    .backdrop-frame
      .sliding-track
    .brand-banner.banner.right
      img(src="/images/Logo/Circle/White.png", width="88")
    .start-button
      img(src="/images/icons/controller-button.png")
    .overlay-message
      h1
        | We're about to start
      .border
    include includes/timer.pug

block scripts
  script(src="/javascripts/obs-overlay.js")

