extends layout

block content
  #layout.simple-overlay
    include includes/banner-brand.pug
    include includes/banner-brb.pug
    include includes/banner-snap.pug


block scripts
  script(src="/javascripts/obs-overlay.js")