extends layout

block content
  #layout
    .webcam
    .brand-banner.banner.right
      img(src="/images/Logo/Circle/White.png", width="88")


block scripts
  script(src="/javascripts/obs-overlay.js")