$backdrop-height: 100vh;
$backdrop-width: 100vw;
$backdrop-image-width: 1080px;

.backdrop-frame {
  overflow: hidden;
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  width: $backdrop-width;
  height: $backdrop-height;
}

.sliding-track {
  height: $backdrop-height;
  width: $backdrop-image-width * 3;
  background: url('/images/bgs/backdrop-pattern.png') repeat-x;
  animation: slide 80s linear infinite;
}

@keyframes slide {
  0% { transform: translate3d(0, 0, 0); }
  100% { transform: translate3d(-$backdrop-image-width, 0, 0); }
}