.banner {
  z-index: 9;
  position: absolute;
  top: $banner-position-y;
  height: $banner-height;
  width: $banner-width;
  background-color: $brand-blue;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  &.left {
    padding-right: 24px;
    justify-content: flex-end;
    left: $banner-position-x;
    -webkit-filter: $drop-shadow-left;
        filter: $drop-shadow-left;
  }
  &.right {
    padding-left: 24px;
    right: $banner-position-x;
    justify-content: flex-start;
    -webkit-filter: $drop-shadow-right;
        filter: $drop-shadow-right;
  }
  &.center {
    padding: 16px 24px;
    width: 50vw;
    height: auto;
    top: unset;
    bottom: $banner-position-y;
    left: 25vw;
    justify-content: center;
  }

  &.icon {
    background-color: transparent;

    &.right {
      -webkit-filter: drop-shadow(0 0 16px rgba($brand-white, 0.2));
      filter: drop-shadow(0 0 16px rgba($brand-white, 0.2));
    }
  }

  span {
    color: #fff;
    font-weight: 600;
    font-size: 2rem;
  }

}

.social-banner {
  top: unset;
  bottom: $brand-position-y + 32px;
  height: 128px;
  width: 440px;
  padding-left: 24px;

  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly !important;

  span {
    font-size: 2.2rem;
  }

  div[class^="social-"] {
    display: flex;
    justify-content: center;
    align-items: center;

    &:first-child {
      margin-top: 8px;
    }
  }
  span[class^="icon-"] {
    margin-right: 16px;
    line-height: 32px;
  }
}

.brand-banner {
  left: unset;
  top: unset;
  right: $brand-position-x !important;
  bottom: $brand-position-y;
  width: $brand-banner-width;
  height: $brand-banner-height;
  justify-content: center !important;
  padding: 0 0 0 8px !important;

  .simple-overlay & {
    right: 0 !important;
    bottom: $brand-position-y + 32px;
    justify-content: center;
    padding-left: 0;
  }
}

.image-banner {
  height: $image-banner-height;
  width: $image-banner-width;
  right: $image-banner-position-x;
  top: $image-banner-position-y;
  padding: 0;

  div.image-bg {
    width: 100%;
    height: 100%;
    background: no-repeat center #fff;
    background-size: contain;
    background-image: url('/images/lego/stormtrooper-lego.png');
  }
}

#chat-command {
  width: $brand-banner-width;
  top: unset;
  bottom: $brand-position-y + $brand-banner-height + 32px + 16px;
}
#status-brb {
  $brb-width: $brand-banner-width + 80px;
  width: $brb-width;
  top: unset;
  bottom: $brand-position-y + 32px;
  transition: all 1.6s ease-in-out;
  left: -$brb-width !important;

  &.active {
    left: 0 !important;
  }
}
#arenaid {
  top: $banner-position-y + 16px;
}
#cheer-message {
  opacity: 0;
  transition: all 1.6s ease-in-out;
  background-color: rgba(15, 76, 129, .6);

  .cheer-badge {
    flex: 0;
    padding: 0 24px 0 8px;
  }

  .cheer-message {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    text-shadow: 2px 2px 0 #202020;
  }

  &.active {
    opacity: 1;
  }
}
#snap-banner {
  width: 140px;
  opacity: 0;
  transition: opacity cubic-bezier(.17,.53,1,1) 1s;
  // transition: opacity 1.6s ease-out;

  &.active {
    opacity: 1;
    transition-duration: 300ms;
  }
}