.counters {
  z-index: 10;
  position: absolute;
  right: $counters-left;
  bottom: $counters-bottom;
  width: $counters-width;
  padding: 0.5rem;
  font-size: 2.25rem;
  font-family: $text-font;
  line-height: 3rem;
  display: flex;
  justify-content: stretch;
  flex-direction: column;

  background-color: #fff;
  -webkit-filter: $drop-shadow-right;
        filter: $drop-shadow-right;

  .counter {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .divider {
    height: 2px;
    background-color: #000;
    margin: 0.5rem;
  }
  .count, .icon, .time {
    text-align: center;
  }
  svg {
    #shape {
      fill: $brand-black;
    }
  }
}