.overlay-message {
  position: absolute;
  z-index: 10;
  left: 0;
  width: 100vw;
  top: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1, span {
    color: #fff;
    margin: 0;
    padding: 0;
    -webkit-filter: $drop-shadow-right;
        filter: $drop-shadow-right;
  }

  h1 {
    font-family: $header-font;
    font-size: 160px;

  }

  h3 {
    font-family: $text-font-overlay;
    font-size: 80px;
    width: 40vw;
    text-align: center;
    color: #fff;
    line-height: 1.4em;
  }

  span {
    font-family: $header-font;
    font-size: 80px;
  }
  .border {
    background-color: $brand-blue;
    height: 24px;
    width: 80vw;
    -webkit-filter: $drop-shadow-right;
        filter: $drop-shadow-right;
  }
}