.start-button {
  position: absolute;
  left: 0;
  bottom: 160px;
  z-index: 10;
  width: 100vw;
  display: flex;
  justify-content: center;

  animation: blinker 6s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}