.timer {
  font-family: $text-font-overlay;
  font-size: 4rem;
  color: #fff;
}

#start-stream.timer {
  position: absolute;
  z-index: 10;
  bottom: 320px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;

  span {
    -webkit-filter: $drop-shadow-right-4;
        filter: $drop-shadow-right-4;
  }
}