.webcam {
  z-index: 10;
  position: absolute;
  right: 0;
  bottom: 0;
  width: $webcam-width;
  height: $webcam-height;
  background-color: #fff;
  -webkit-filter: $drop-shadow-right;
        filter: $drop-shadow-right;
}