$webcam-width: 344px;
$webcam-height: 424px;

$banner-height: 72px;
$banner-width: 360px;
$banner-position-x: 0;
$banner-position-y: 32px;

$brand-banner-height: 120px;
$brand-banner-width: 168px;
$brand-position-x: $webcam-width;
$brand-position-y: 32px;

$image-banner-height: 270px;
$image-banner-width: $banner-width;
$image-banner-position-x: 0;
$image-banner-position-y: $banner-position-y + $banner-height + 24;

$counters-width: 144px;
$counters-left: 0;
$counters-bottom: $webcam-height + 32px;