$drop-shadow-right-4: drop-shadow(1px 1px 0 $drop-shadow-color)
  drop-shadow(1px 1px 0 $drop-shadow-color)
  drop-shadow(1px 1px 0 $drop-shadow-color)
  drop-shadow(1px 1px 0 $drop-shadow-color);

$drop-shadow-white-right-4: drop-shadow(1px 1px 0 $drop-shadow-white-color)
  drop-shadow(1px 1px 0 $drop-shadow-white-color)
  drop-shadow(1px 1px 0 $drop-shadow-white-color)
  drop-shadow(1px 1px 0 $drop-shadow-white-color);

$drop-shadow-right-8: drop-shadow(1px 1px 0 $drop-shadow-color)
  drop-shadow(1px 1px 0 $drop-shadow-color)
  drop-shadow(1px 1px 0 $drop-shadow-color)
  drop-shadow(1px 1px 0 $drop-shadow-color)
  drop-shadow(1px 1px 0 $drop-shadow-color)
  drop-shadow(1px 1px 0 $drop-shadow-color)
  drop-shadow(1px 1px 0 $drop-shadow-color)
  drop-shadow(1px 1px 0 $drop-shadow-color);

$drop-shadow-white-right-8: drop-shadow(1px 1px 0 $drop-shadow-white-color)
  drop-shadow(1px 1px 0 $drop-shadow-white-color)
  drop-shadow(1px 1px 0 $drop-shadow-white-color)
  drop-shadow(1px 1px 0 $drop-shadow-white-color)
  drop-shadow(1px 1px 0 $drop-shadow-white-color)
  drop-shadow(1px 1px 0 $drop-shadow-white-color)
  drop-shadow(1px 1px 0 $drop-shadow-white-color)
  drop-shadow(1px 1px 0 $drop-shadow-white-color);

$drop-shadow-right-16: drop-shadow(1px 1px 0 $drop-shadow-color)
  drop-shadow(1px 1px 0 $drop-shadow-color)
  drop-shadow(1px 1px 0 $drop-shadow-color)
  drop-shadow(1px 1px 0 $drop-shadow-color)
  drop-shadow(1px 1px 0 $drop-shadow-color)
  drop-shadow(1px 1px 0 $drop-shadow-color)
  drop-shadow(1px 1px 0 $drop-shadow-color)
  drop-shadow(1px 1px 0 $drop-shadow-color)
  drop-shadow(1px 1px 0 $drop-shadow-color)
  drop-shadow(1px 1px 0 $drop-shadow-color)
  drop-shadow(1px 1px 0 $drop-shadow-color)
  drop-shadow(1px 1px 0 $drop-shadow-color)
  drop-shadow(1px 1px 0 $drop-shadow-color)
  drop-shadow(1px 1px 0 $drop-shadow-color)
  drop-shadow(1px 1px 0 $drop-shadow-color)
  drop-shadow(1px 1px 0 $drop-shadow-color);

$drop-shadow-left-8: drop-shadow(-1px 1px 0 $drop-shadow-color)
  drop-shadow(-1px 1px 0 $drop-shadow-color)
  drop-shadow(-1px 1px 0 $drop-shadow-color)
  drop-shadow(-1px 1px 0 $drop-shadow-color);

$drop-shadow-left-8: drop-shadow(-1px 1px 0 $drop-shadow-color)
  drop-shadow(-1px 1px 0 $drop-shadow-color)
  drop-shadow(-1px 1px 0 $drop-shadow-color)
  drop-shadow(-1px 1px 0 $drop-shadow-color)
  drop-shadow(-1px 1px 0 $drop-shadow-color)
  drop-shadow(-1px 1px 0 $drop-shadow-color)
  drop-shadow(-1px 1px 0 $drop-shadow-color)
  drop-shadow(-1px 1px 0 $drop-shadow-color);

$drop-shadow-left-16: drop-shadow(-1px 1px 0 $drop-shadow-color)
  drop-shadow(-1px 1px 0 $drop-shadow-color)
  drop-shadow(-1px 1px 0 $drop-shadow-color)
  drop-shadow(-1px 1px 0 $drop-shadow-color)
  drop-shadow(-1px 1px 0 $drop-shadow-color)
  drop-shadow(-1px 1px 0 $drop-shadow-color)
  drop-shadow(-1px 1px 0 $drop-shadow-color)
  drop-shadow(-1px 1px 0 $drop-shadow-color)
  drop-shadow(-1px 1px 0 $drop-shadow-color)
  drop-shadow(-1px 1px 0 $drop-shadow-color)
  drop-shadow(-1px 1px 0 $drop-shadow-color)
  drop-shadow(-1px 1px 0 $drop-shadow-color)
  drop-shadow(-1px 1px 0 $drop-shadow-color)
  drop-shadow(-1px 1px 0 $drop-shadow-color)
  drop-shadow(-1px 1px 0 $drop-shadow-color)
  drop-shadow(-1px 1px 0 $drop-shadow-color);

$drop-shadow-left: $drop-shadow-left-8;
$drop-shadow-right: $drop-shadow-right-8;
$drop-shadow-white-right: $drop-shadow-white-right-8;