$base-font: "Questa Slab", Baskerville, "Times New Roman", Times, serif;
$base-font-size: 16px;

$header-font: $base-font;
$text-font: "Anton", Helvetica, Arial, sans-serif;
$text-font-overlay: "Overpass", Helvetica, Arial, sans-serif;